*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #161616;
    color: #ECDBBA;
}
.select-seat-comtainer select{
    padding: 5px;
    margin-left: 5px;
    border: 0;
    border-radius: 5px;
}
.seat{
    height: 15px;
    width: 15px;
    background-color: #346751;
    margin: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.25);
}
.seat:nth-of-type(2){
    margin-right: 30px;
}
.seat:nth-last-of-type(2){
    margin-left: 30px;
}
.seat.selected{
background-color: #EBA83A;
}
.seat.occupied{
    background-color:   #C84B31;
    }
.movie-legend-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.theater-seat{
    display: flex;
    align-items: center;
    justify-content: center;
}
.legends .seat:hover{
    transform: scale(1);
    cursor: default;
}